{% load static %}
<!-- Footer -->
			<footer class="footer">

				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6 col-md-6">

								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										MediConnect
									</div>
									<div class="footer-about-content">
										<p>Simply select the type of consultation you need, choose a convenient time, and book your appointment with just a few clicks.</p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->

							</div>

                            <div class="col-lg-3 col-md-6">
                            </div>


							<div class="col-lg-3 col-md-6">

								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> Balaju,Kathmandu<br> Nepal </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											<a href="tel:" style="color: white">+1 315 369 5943</a>
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
                                            <a href="mail:" style="color: white">MediConnect@MediConnect.com</a>
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->

							</div>

						</div>
					</div>
				</div>
				<!-- /Footer Top -->

				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">

						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"><a href="#">MediConnect</a></p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">

									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											{% comment %}<li><a href="term-condition.html">Terms and Conditions</a></li>
											<li><a href="privacy-policy.html">Policy</a></li>{% endcomment %}
										</ul>
									</div>
									<!-- /Copyright Menu -->

								</div>
							</div>
						</div>
						<!-- /Copyright -->

					</div>
				</div>
				<!-- /Footer Bottom -->

			</footer>
			<!-- /Footer -->
</body>
        <!-- jQuery -->
		<!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->

		<!-- Bootstrap Core JS -->
		<!-- <script src="{% static 'js/popper.min.js' %}"></script> -->
		<!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->

		<!-- Slick JS -->
		<!-- <script src="{% static 'js/slick.js' %}"></script> -->

		<!-- Custom JS -->
		<!-- <script src="{% static 'js/script.js' %}"></script> -->


</html>