{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-8 offset-md-2">

							<!-- Register Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
										<img src={% static "img/login-banner.png" %} class="img-fluid" alt="MediConnect Register">
									</div>
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header">
											<h3>Patient Register <a href="{% url 'registerDoctor' %}">Are you a Doctor?</a></h3>
										</div>

										<!-- Register Form -->
										<form action="{% url 'registerUser' %}" method="post">
                                            {% csrf_token %}
										<!--	<div class="form-group form-focus">
												<input type="text" class="form-control floating">
												<label class="focus-label">Name</label>
											</div> -->
                                            <div class="row form-row form-focus">
												<div class="col-6">
                                                    <input type="text" class="form-control floating" name="first_name" id="id_first_name" {% if form.first_name.value %} value="{{ form.first_name.value }}" {% else%}value="" {% endif %}>
												    <label class="focus-label">First Name</label>
                                                    {% if form.first_name.errors %}
                                                        <div class="error">{{ form.first_name.errors.as_text }}</div>
                                                    {% endif %}
                                                </div>
												<div class="col-6">
                                                    <input type="text" class="form-control floating" name="last_name" id="id_last_name" {% if form.last_name.value %} value="{{ form.last_name.value }}" {% else%}value="" {% endif %}>
												    <label class="focus-label">Last Name</label>
                                                    {% if form.last_name.errors %}
                                                        <div class="error">{{ form.last_name.errors.as_text }}</div>
                                                    {% endif %}
                                                </div>
											</div>
                                            <br>
											<div class="form-group form-focus">
												<input type="text" class="form-control floating" name="email" id="id_email" {% if form.email.value %} value="{{ form.email.value }}" {% else%}value="" {% endif %}>
												    <label class="focus-label">Email</label>
                                                    {% if form.email.errors %}
                                                        <div class="error">{{ form.email.errors.as_text }}</div>
                                                    {% endif %}
											</div>
                                            <div class="row form-row form-focus">
												<div class="col-6">
                                                    <input type="text" class="form-control floating" name="username" id="id_username" {% if form.username.value %} value="{{ form.username.value }}" {% else%}value="" {% endif %}>
												    <label class="focus-label">Username</label>
                                                    {% if form.username.errors %}
                                                        <div class="error">{{ form.username.errors.as_text }}</div>
                                                    {% endif %}
                                                </div>
												<div class="col-6">
                                                    <input type="text" class="form-control floating" name="phone_number" id="id_phone_number" {% if form.phone_number.value %} value="{{ form.phone_number.value }}" {% else%}value="" {% endif %}>
												    <label class="focus-label">Phone Number</label>
                                                    {% if form.phone_number.errors %}
                                                        <div class="error">{{ form.phone_number.errors.as_text }}</div>
                                                    {% endif %}
                                                </div>
											</div>
                                            <br>
											<div class="row form-row form-focus">
												<div class="col-6">
                                                    <input type="password" class="form-control floating" name="password" id="id_password" {% if form.password.value %} value="{{ form.password.value }}" {% else%}value="" {% endif %}>
												    <label class="focus-label">Password</label>
                                                    {% if form.password.errors %}
                                                        <div class="error">{{ form.password.errors.as_text }}</div>
                                                    {% endif %}
                                                </div>
												<div class="col-6">
                                                    <!-- Custom confirm_password field -->
                                                    <input type="password" class="form-control floating" name="confirm_password" id="id_confirm_password" {% if form.password.value %} value="{{ form.password.value }}" {% else%}value="" {% endif %}>
                                                    <label class="focus-label">Confirm Password</label>
                                                    {% if form.confirm_password.errors %}
                                                        <div class="error">{{ form.confirm_password.errors.as_text }}</div>
                                                    {% endif %}
                                                </div>
											</div>
                                            <br>
											<div class="text-right">
												<a class="forgot-link" href="{% url 'login' %}">Already have an account?</a>
											</div>
											<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Signup</button>
										</form>
										<!-- /Register Form -->

									</div>
								</div>
							</div>
							<!-- /Register Content -->

						</div>
					</div>

				</div>

			</div>
    <script type="text/javascript">
  document.getElementById('django-messages').textContent = '{{ messages|safe }}';
</script>

    <br>
			<!-- /Page Content -->

{% endblock %}