{% extends 'base.html' %}
{% block content %}
    {% load static %}
        <style>
    .missed {
    background-color: #f8d7da; /* light red for missed appointments */
}
    .table-hover tr.missed:hover {
    background-color: #f8d7da; /* or any preferred shade of red */
}
    </style>
<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Dashboard</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->

			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

							<!-- Profile Sidebar -->
							{% include 'includes/d_sidebar.html' %}
							<!-- /Profile Sidebar -->

						</div>

						<div class="col-md-7 col-lg-8 col-xl-9">



							<div class="row">
								<div class="col-md-12">
									<h4 class="mb-4">Patient Appoinment</h4>
									<div class="appointment-tab">

										<div class="tab-content">

											<!-- Upcoming Appointment Tab -->
											<div class="tab-pane show active" id="upcoming-appointments">
												<div class="card card-table mb-0">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-hover table-center mb-0">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Appt Date/Time</th>
            <th>Type</th>
            <th>Status</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        {% with appointment_date=appointment.appointment_date|date:"Y-m-d" %}
        {% if appointment.get_appointment_status_display == "pending" and appointment_date < now|date:"Y-m-d" %}
        <tr class="missed">  <!-- Adding the 'missed' class for styling -->
        {% else %}
        <tr>
        {% endif %}
            <td>
                <h2 class="table-avatar">
                    <a href="#" class="avatar avatar-sm mr-2">
                        <img class="avatar-img rounded-circle" src="{{ appointment.patient.userprofile.profile_picture.url }}" alt="User Image">
                    </a>
                    <a href="#">
                        {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}
                    </a>
                </h2>
            </td>
            <td>
                {{ appointment.appointment_date|date:"d M Y" }}
                <span class="d-block text-info">{{ appointment.time_slot.start_time|date:"g:i A" }}</span>
            </td>
            <td>{{ appointment.get_appointment_type_display }}</td>
            <td>{{ appointment.get_appointment_status_display }}</td>
            <td class="text-right">
                <div class="table-action">
                    {% if appointment.get_appointment_status_display != "pending" or appointment_date >= now|date:"Y-m-d" %}
                        <a href="{% url 'appointment_details' appointment_id=appointment.id %}" class="btn btn-sm bg-info-light">
                            <i class="far fa-eye"></i> View
                        </a>
                        {% if appointment.appointment_status != 'confirmed' and appointment.appointment_status != 'cancelled' %}
                        <a href="{% url 'accept_appointment' appointment_id=appointment.id %}" class="btn btn-sm bg-success-light">
                            <i class="fas fa-check"></i> Accept
                        </a>
                        {% endif %}
                        {% if appointment.appointment_status != 'cancelled' %}
                        <a href="{% url 'reject_appointment' appointment_id=appointment.id %}" class="btn btn-sm bg-danger-light">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                        {% endif %}
                    {% else %}
                        <i class="fas fa-times"></i> Missed
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endwith %}
        {% empty %}
        <tr>
            <td colspan="5">No appointments available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}