{% extends 'base.html' %}
{% block content %}
    {% load static %}


    <style>
        body { font-family: Arial, sans-serif; }
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 16px;
            line-height: 24px;
            color: #555;
        }
        .header {
            color: #333;
            font-size: 24px;
            font-weight: bold;
        }
        .details {
            margin-top: 20px;
        }
        .details th {
            text-align: left;
            padding-top: 8px;
            padding-bottom: 8px;
        }
        .details td {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    </style>

    <div class="invoice-box">
        <div class="header">Appointment Details</div>
        <table class="details">
            <tr>
                <th>Appointment ID:</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Doctor:</th>
                <td>Dr. {{ appointment.doctor.user.first_name }} {{  appointment.doctor.user.last_name}}</td>
            </tr>
            <tr>
                <th>Patient:</th>
                <td>{{ appointment.patient.username }}</td>
            </tr>
            <tr>
                <th>Appointment Type:</th>
                <td>{{ appointment.appointment_type }}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td>{{ appointment.appointment_status }}</td>
            </tr>
            <tr>
                <th>Appointment Time:</th>
                <td>{{ appointment.appointment_date }} at {{ appointment.time_slot.start_time|date:"H:i" }}</td>
            </tr>
            <tr>
                <th>Message:</th>
                <td>{{ appointment.message }}</td>
            </tr>
            <tr>
        {% if appointment.image_upload %}
        <td colspan="2" style="text-align: center;">
            <img src="{{ appointment.image_upload.url }}" id="image-preview" style="width: 100px; height: 100px; cursor: pointer;" alt="View Image">
        </td>
        {% endif %}
    </tr>
        </table>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var viewer;
        var image = document.getElementById('image-preview');
        image.addEventListener('click', function () {
            if (viewer) {
                viewer.destroy();
            }
            viewer = new Viewer(image, {
                navbar: true,
                toolbar: true,
                title: true,
                hidden: function () {
                    viewer.destroy();
                },
            });
            viewer.show();
        });
    });
</script>
{% endblock %}
