<!-- Profile Sidebar -->
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="{% if profile.profile_picture %}{{ profile.profile_picture.url }}{% else %}lifelink_main/static/img/favicon.png{% endif %}" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
											<div class="patient-details">
												<h5><i class="fas fa-birthday-cake"></i> {{ profile.date_of_birth }}, {{ age }} years</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{ profile.address }}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="active">
												<a href="patient-dashboard.html">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
{#											<li>#}
{#                                                <a href="{% url 'chat-home' pk=request.user.id %}">Chat with Doctor</a>#}
{#											</li>#}
											<li>
												<a href="{% url 'cprofile' %}">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												 <a href="{% url 'update_password' %}">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											
											<li>
												<a href="{% url 'logout' %}">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>

							</div>
						</div>
						<!-- / Profile Sidebar -->