
<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
{#											<img src="{{ user_profile.profile_picture.url }}" alt="User Image">#}
                                            <img src="{% if user_profile.profile_picture %}{{ user_profile.profile_picture.url }}{% else %}'img/doctors/doctor-01.jpg'{% endif %}" alt="User Image">

										</a>
										<div class="profile-det-info">
											<h3>Dr. {{ request.user.first_name }} {{ request.user.last_name }}</h3>

											<div class="patient-details">
												<h5 class="mb-0">{{ doctor.department }}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="{% if request.path == '/doctor/' %}active{% endif %}">
												<a href="{% url 'doctor' %}">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li class="{% if request.path == '/doctor/doc_appointments/' %}active{% endif %}">
												<a href="{% url 'doctorAppointments' %}">
													<i class="fas fa-calendar-check"></i>
													<span>Appointments</span>
												</a>
											</li>
											{% comment %}<li>
												<a href="my-patients.html">
													<i class="fas fa-user-injured"></i>
													<span>My Patients</span>
												</a>
											</li>{% endcomment %}
											<li class="{% if request.path == '/doctor/time_slots/' %}active{% endif %}">
												<a href="{% url 'time_slots' %}">
													<i class="fas fa-hourglass-start"></i>
													<span>Schedule Timings</span>
												</a>
											</li>

											<li class="{% if request.path == '/doctor/profile/' %}active{% endif %}">
												<a href="{% url 'dprofile' %}">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>

											<li class="{% if request.path == '/accounts/change_password/' %}active{% endif %}">
												<a href="{% url 'change_password' %}">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="{% url 'logout' %}">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->